header {
    background-color: #f4f4f9; /* Mint Green */
    color: #050401;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    border-bottom: 5px solid #04724d ; /* Hot Pink separator */
}

header h1 {
    font-size: 3em;
    margin-bottom: 5px;
    letter-spacing: 2px;
}

nav {
    background-color: #04724d; /* Hot Pink */
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #000; /* Creamy White text */
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f4f4f9; /* Sunshine Yellow hover effect */
}

table {
    border: 3px solid #04724d;
    border-collapse: collapse;
    text-align: center;  
    padding: 20px;  
    margin: 20px;
}
th, td {
    border: 3px solid #04724d;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

body p {
    
}

body p a:hover {
    color: #04724d;
}